<!DOCTYPE html>

<html>

<head>

  <title>

    Feedback

  </title>

  <link rel="stylesheet" type="text/css" href="/styles/feedback.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>

  <div class="rating-css">

    <div style="font-family: 'Poppins', sans-serif;">

      Feedback

      <br>

      Form

    </div>

    <div class="star-icon">

      <input type="radio" name="rating1" id="rating1">

      <label for="rating1" class="fa fa-star"></label>


      <input type="radio" name="rating1" id="rating2">

      <label for="rating2" class="fa fa-star"></label>


      <input type="radio" name="rating1" id="rating3">

      <label for="rating3" class="fa fa-star"></label>


      <input type="radio" name="rating1" id="rating4">

      <label for="rating4" class="fa fa-star"></label>


      <input type="radio" name="rating1" id="rating5">

      <label for="rating5" class="fa fa-star"></label>


      <button type="submit" class="btn"><a href="/feedback/confirm" style='color: white; text-decoration: none;'>Submit</a></button>

    </div>

  </div>

</body>

</html>