<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precery</title>
</head>

<body>
    <div class="container">
        Home
        <hr>
        <br><br>
        <% if(fruit.length!==0) {%>
            <h2>Fruit</h2>
            <ul>
                <% fruit.map((fruit)=>{%>
                    <li>
                        <h4>
                            <%= fruit.name %>
                        </h4>
                        <p>
                            <%= fruit.price %>
                        </p>
                    </li>
                    <%}) %>
            </ul>
            <% } %>
                <br><br>
                <% if(vegetable.length!==0) {%>
                    <h2>Vegetagbles</h2>
                    <ul>
                        <% vegetable.map((vegetable)=>{%>
                            <li>
                                <h4>
                                    <%= vegetable.name %>
                                </h4>
                                <p>
                                    <%= vegetable.price %>
                                </p>
                            </li>
                            <%}) %>
                    </ul>
                    <% } %>
    </div>
    <footer><button><a href="/login">Login</a></button></footer>
</body>

</html>