<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
</head>

<body>
    <h1><strong>Sign Up</strong></h1>
    <form action="/login/create" method="post">
        <div class="mb-3">
            <label for="name">Name:</label>
            <input type="text" name="user[name]" id="name">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password">
        </div>
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" name="user[email]" id="email">
        </div>
        <div class="mb-3">
            <label for="birthDate">BirthDate:</label>
            <input type="date" name="user[birthDate]" id="birthDate">
        </div>
        <div class="mb-3">
            <label for="gender">Gender:</label>
            <select name="user[gender]" id="gender">
                <option default value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>

    <h2><strong>Sign In</strong></h2>
    <form action="/login/verify" method="post">
        <div class="mb-3">
            <label for="name">Name:</label>
            <input type="text" name="user[name]" id="name">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password">
        </div>
        <button type="submit">Submit</button>
    </form>
    <footer>
        <button><a href="/">Home</a></button>
    </footer>
</body>

</html>